
  /* ----------------------------------- Shelter Cards ---------------------------------------------- */
  
  .shelter-cards{
    margin-bottom: 5%;
  }
  
  .shelter-cards .col{
    padding: 2%;
  }
  
  .shelter-cards .my-info a{
    text-decoration: none;
    color: black;
  }
  
  .shelter-cards i{
    text-align: center;
    font-size: 8vh;
  }
  
  .shelter-cards .next-trips .buttons i{
    text-align: center;
    font-size: 4vh;
  }
  
  .shelter-cards  h5{
    text-align:  center;
    font-weight: 2%;
  }
  
  .shelter-cards .next-trips{
    display: flex;
    justify-content: center;
  }
  
  .shelter-cards .next-trips button{
    background: none;
    background-color: none;
    border: none;
    color: grey;
    text-align: right;
    align-self: right;
  }
  
  .shelter-cards .next-trips .startchat i{
    font-size: 3vh;
    padding: 1%;
    color: black;
    border: none;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
  
  .shelter-cards .next-trips .startchat{
    text-decoration: none;
  }
  /*Toggle Button*/
  .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
