.push{
  padding-bottom:8%;
}

.centerFile{
  font-size: calc(60px + 6 * ((100vw - 320px) / 680));
  color:black;
  position: relative;
  left:44%;
}

.map-container-2{
  height: 70vh;
}

.map-container-2 iframe{

  width: 100%;
  height: 100%;
}

.volunteer-cards{
  margin-top: 5%;
  margin-bottom: 5%;
}

.volunteer-cards .col{
  padding: 2%;
}

.volunteer-cards i{
  text-align: center;
  font-size: 8vh;
}

.volunteer-cards .buttons i{
  text-align: center;
  font-size: 4vh;
}

.volunteer-cards  h5{
  text-align:  center;
  font-weight: 2%;
}

.volunteer-cards .pane a{
  text-decoration: none;
  color: black;
}

.volunteer-cards .pane p{
  color: grey;
}

.col.buttons{
  display: flex;
  justify-content: center;
}

.col.buttons button{
  text-decoration: none;
  margin:2%;
  border: none;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.col.buttons .viewmap{
  background-color: #8A96BF;
}

.col.buttons .accept{
  background-color: #87B692;
}

.col.buttons .reject{
  background-color: #AC6B58;
}

.col.buttons .startchat{
  text-decoration: none;
  color: black;
}

.accept{
  width: 30%;
}

.card-body{
  overflow-y: scroll;
  height: 500px;
}

.task-container{
  border: 2px solid black;
  border-radius: 25px;
}
