

/* Test */

*{font-family: Constantia; box-sizing: border-box;}
body{
  color: black; background-color: whitesmoke; padding: 0;} /*THE PADDING OMG */
a{color: blue;text-decoration: none;}
.section-header{font-size: 5vh; text-align: center; background-color: #A2B8A0; padding: 1%; width: 100%;}
h2{font-size: 5vh;}
p{font-size: 3.5vh;}

#section0, #section2, #section3,  #section4{

  position: relative;
  margin-top: 7%;
}




/* ---------------------------------------------------- HOME PAGE ---------------------------------------------- */

/* ---------------------------------------------------- ABOUT US PAGE ---------------------------------------------- */

/* ----------------------------------- SIGNUP PAGE ---------------------------------------------- */



/* ----------------------------------- VOLUNTEER/RESTAURANT SIGN UP FORM* ---------------------------------------------- */





/* ----------------------------------- VOLUNTEER PAGE ---------------------------------------------- */

/* ----------------------------------- RESTAURANT PAGE ---------------------------------------------- */


/* ----------------------------------- PROFILE INFORMATION ---------------------------------------------- */

